
* {
  box-sizing: border-box;
}
* {
  outline: none;
}
a {
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4{
    font-weight: 400;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}
.img100 {
  width: 100%;
  margin: auto;
}
.title{
    text-align: center;
}
body {
  background-color: hsl(0, 0%, 100%);
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  /* width: 1440px; */
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8rem;
  overflow-x: hidden;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.paragraph{
    padding-top: 20px;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
    overflow: hidden;
}
/* Testimonial section */
#testimonial {
  color: white;
  min-height: 60vh;
  position: relative;
  background-size: contain;
  background-image: linear-gradient(
    to right,
    hsl(355, 100%, 74%),
    hsl(356, 100%, 66%),
    hsl(356, 100%, 66%)
  );
  overflow: hidden;
  border-radius: 0 0 0 100px;
}
/* move bg by this attribute */
#testimonial .logo-container {
  position: absolute;
  right: 0;
  top: -90%;
  right: -10%;
  z-index: 0;
}
/* ----------------------- */
#testimonial .bg-container {
  position: relative;
  width: 1440px;
  height: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonial .bg-img {
  position: absolute;
  width: 150%;
  height: 150%;
}

#testimonial h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn p {
  padding: 8px 20px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}
.btn p:active {
  background-color: white;
  color: hsl(356, 100%, 66%);
  border-radius: 50px;
  border-color: white;
}
.slogan .btn p {
  border-radius: 50px;
  border: 1px solid white;
}

.btn p.active{
  background-color: white;
  color: hsl(356, 100%, 66%);
  border-radius: 50px;
  border-color: white;
}
.btn p.active:hover{
    color: white;
    background-color: hsl(355, 100%, 74%);
    border: none;
    font-weight: 400;
}

header,
.log-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 0 50px;
}

nav {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  top: 0;
  position: sticky;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  display: flex;
}
nav ul li {
  display: block;
  position: relative;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  display: block;
}
nav ul li ul li a{
    padding-left: 10px;
}
.center-div>a:hover{
    border-bottom: 1.5px solid white ;
    cursor: pointer;
}
nav ul li li a:hover{
    font-weight: bold;
}
nav ul li ul {
  color: hsl(207, 13%, 34%);
  display: inline;
  position: absolute;
  left: -10px;
  width: 150%;
  background-color: hsl(0, 0%, 100%);
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  border-radius: 10px;
  padding: 10px 0;
  top: 37px;
  box-shadow: 8px 5px 5px  hsl(240, 10%, 16%,0.5);
}
nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 37px;
  cursor: pointer;
}
nav ul li:hover > img {
    transform: rotate(180deg);
    cursor: pointer;
}


nav img{
    padding: 10px;
}
/* end testimonial */
/* second section */
#second-section{
    /* height: 80vh; */
    padding: 100px;
}
#second-section h1{
    font-size: 2rem;
    font-weight: 400;
}

/* end second section */
/* footer */
footer{
    background-color: hsl(240, 10%, 16%);
}
footer .container *{
    color: white;
    width: 30%;
    
}

/* large screen responsive */
@media screen and (min-width: 1400px) {
    .container {
      width: 1370px;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      width: 1570px;
    }
  }
  @media screen and (min-width: 1900px) {
    .container {
      width: 1870px;
    }
  }