@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PlusJakartaSans;
  src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
  font-style: normal;
}
@font-face {
  font-family: PlusJakartaSans;
  src: url(../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@layer base {
  body {
    font-family: PlusJakartaSans;
  }
  .box{
    @apply w-full inline-block box-border;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .symbol.first{
    border-radius: 5px 0px 0px 5px;
  }
  .symbol.second{
    border-radius: 0px 5px 5px 0px;
  }
  input[type='number']{
    width: 100%;
    padding: .75rem 1.25rem;
    font-weight: 700;
    border: 0;
    outline: 0;
  }
  input[type='radio']{
    appearance: none;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
    outline: 2px solid;
    outline-offset: 3px;
    border-radius: 50%;
    @apply outline-slate-900;
  }
  input[type='radio']:checked, .box:focus-within .symbol{
    @apply bg-main-lime;
  }
  .radio-input{
    @apply font-semibold border;
    cursor: pointer;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    gap: .5rem;
  }
  .radio-input.selected, .radio-input:hover{
    @apply bg-lime-light;
  }
  .box:hover{
    @apply border-slate-900;
  }
  .box:focus-within, .radio-input:hover{
    @apply border-main-lime;
  }
  .symbol{
    @apply bg-slate-100 block text-slate-700 font-semibold;
    padding: .75rem 1.25rem;
    z-index: -1;
  }
  .error-alert{
    @apply text-red-600;
  }
  .half-right{
    border-radius: 0rem 1rem 1rem 3.125rem;
  }
}
