#toggle-icon{
    height: 50px;
    width: 50px;
}
#toggle-icon span{
    height: 5px;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  #toggle-icon span:nth-child(1){
    top: 25%;
  }
  #toggle-icon span:nth-child(3){
    top: 75%;
  }
  #toggle-icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #toggle-icon.active span:nth-child(2){
    opacity: 0;
  }
  #toggle-icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }