<%- include("partials/header.ejs") %>
  <section class="col-6">
    <div class="row">
      <h2 style="font-weight: 700; margin: 0;">Mortgage Calculator</h2>
      <a href="/" class="clear-link">Clear All</a>
    </div>
    <form action="/submit" method="POST" id="mortgageForm" >
      <!-- Mortgage Amount -->
      <label for="amount">Mortgage Amount</label>
      <div class="input-group">
        <span class="input-prefix">£</span>
        <input type="number" id="amount" name="amount" placeholder="Enter amount" >
      </div>
      <p class="error-message" id="amount-error"></p>
      <div class="row">
        <div class="col-6">
          <!-- Mortgage Term -->
          <label for="term">Mortgage Term</label>
          <div class="input-group">
            <input type="number" id="term" name="term" placeholder="Years">
            <span class="input-suffix">years</span>
          </div>
        </div>
        <div class="col-6" style="margin-left: 20px;">
          <!-- Interest Rate -->
          <label for="">Interest Rate</label>
          <div class="input-group">
            <input type="number" id="interest" name="interest" placeholder="Rate" step="0.01">
            <span class="input-suffix">%</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
         <p class="error-message" id="term-error"></p>
        </div>
        <div class="col-6" style="margin-left: 40px;">
          <p class="error-message" id="interest-error"></p>
        </div>
      </div>
      <!-- Mortgage Type -->
      <label>Mortgage Type</label>
      <div class="radio-group">
        <div class="radio-item">
          <input type="radio" id="mtype1" name="mortgageType" value="repayment" checked>
          <label for="mtype1">Repayment</label>
        </div>
        <div class="radio-item">
          <input type="radio" id="mtype2" name="mortgageType" value="interest-only">
          <label for="mtype2">Interest Only</label>
        </div>
        
      </div>
      

      <!-- Submit button -->
      <button type="submit"><i class="fa-solid fa-calculator"></i> Calculate Repayments</button>
    </form>

    
  </section>
  
  <section class="col-6" id="resultFrame">
    <% if (!showResult) { %>
      <!-- Empty results start -->
      <div class="center-text" id="default-frame">
        <img src="/images/illustration-empty.svg" alt="">
        <div>
          <h2>Results shown here</h2>
          <p>
            Complete the form and click “calculate repayments” to see what
            your monthly repayments would be.
          </p>
        </div>
      </div>
      <!-- Empty results end -->
    <% } else { %>
      <!-- Completed results start -->
      <div id="result">
        <h2>Your results</h2>
        <p>
          Your results are shown below based on the information you provided. To adjust the results, edit the form and click “calculate repayments” again.
        </p>
        <div class="result-box">
          <p>Your monthly repayments</p>
          <h1>£<%= monthly %></h1>
          <hr style="border-color: var(--slate-300);">
          <p>Total you'll repay over the term</p>
          <h2>£<%= total %></h2>
        </div>
      </div>
      <!-- Completed results end -->
    <% } %>
  </section>

  <!-- JS: Client-side validation -->
  <script src="/scripts/formHandler.js"></script>

  <%- include("partials/footer.ejs") %>
  