            </main>
            <footer class="attribution">
                Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
                Coded by <a href="https://github.com/zoetlam">Zoe T. Lam</a>.
            </footer>
        </div>
    </body>
</html>